<!DOCTYPE html>
<html lang="en">
	<%- include('./partial/header.ejs') -%>

	<body>
		<%- include('./partial/nav.ejs') %>
		<container>			
			<h1 class="">Home</h1>
			<br />
      <a href="/posts">Posts here...</a>
			<br />
			<a href="/add-post">Add Post here...</a>
			<br />
			<a href="/test">Test Redirect</a>
    </container>
	</body>
</html>
